runtime/
.idea/
.yarn/
.vscode/
.spec-workflow/
docs/
vendor/
adminProject/payCert
node_modules/
dist/
unpackage/
webProject/gy-mobile/utils/config.js
webProject/sales-mobile/utils/config.js

*.log
*.lock
.env
/tests/tmp
/tests/.phpunit.result.cache